body {
  padding: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2px;
}

th * {
  display: inline-block;
}

.flex-container {
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-1-2 {
  padding: 5px;
  width: 40%;
}

.flex-1-3 {
  padding: 5px;
  width: 30%;
}

.flex-2-3 {
  padding: 5px;
  width: 60%;
}

.width-1-3 {
  padding: 5px;
  width: 30%;
}

.width-2-3 {
  padding: 5px;
  width: 60%;
}

.width-1-2 {
  padding: 5px;
  width: 45%;
}

.inventoryTable {
  width: 100%;
  margin-top: 10px;

}

.byline {
  width: 100%;
  height: 20px;
  background-color: #FA7F5B;
  color: white;
  font-size: 15px;
  text-align: center;
}

.banner {
  color: #FA7F5B;
  font-style: italic;
}

.checkout {
  float: right;
  padding: 2;
  border: 1;
  background-color: #E46153;
  color: white;
}

.rightSide {
  float: right;
}

.inventoryTable td {
  text-align: left;
  vertical-align: top;
}

.inventoryTable h3 {
  display: inline-block;
}

.quantity {
  float: right;
}
