<section class = "checkoutHead">
  <h3 class = "checkout">My Shopping Bag</h3>
  <section class = "orderTotal">
    <h3>Order total: </h3>
    <span ng-model="orderTotal"></span>

  </section>
</section>
<table>
  <tbody>
    <thead>
      <th><span>Product</span></th>
      <th><span>Quantity</span>
      <th><span>Sub-total</span>
    </thead>
    <tr ng-repeat = "tea in cart">
      <td class = "width-1-2">
        <section>
          {{tea.name}}
          <section>
            <img ng-src="{{tea.imageUrl}}" alt="">
          </section>
            <h5>Caffeine Scale:  {{tea.caffeineScale}}</h5>
            <h5>Ingredients:  <span ng-repeat = "ingredient in tea.ingredients">{{ingredient}}</span></h5>
            <h5>Rating:  {{tea.rating}}</h5>
        </section>
      </td>
      <td class = "width-1-8">
        <div ng-hide="editEnabled">
          {{tea.quantity}}
        </div>
        <div ng-show="editEnabled">
          <input type = number ng-model=tea.quantity>
        </div>
      </td>
      <td class = "width-1-8">{{tea.quantity * tea.price / 100}}</td>
      <td class = "width-1-4">
        <section>
          <button ng-hide="editEnabled" ng-click="editEnabled=!editEnabled">Edit</button>
          <button ng-show="editEnabled" ng-click="editEnabled=!editEnabled; $Tea.updateCart(tea)">Save</button>
          <button ng-click="$Tea.removeFromCart(tea)">Remove</button>
        </section>
      </td>
    </tr>
  </tbody>
</table>

</table>
