<label for="category">Search by category: </label>
<select id="category" ng-model="searchCategory.categories">
  <option ng-repeat = "category in categories">{{category}}</option>
</select>
<label for="search">Search by name: </label>
<input type="text" ng-model="searchName">
<a href="/#/checkout">
  <button class="checkoutButton">Checkout | Bag: </button>
</a>
<table class = "inventoryTable">
  <thead>
    <th><span>Tea</span></th>
    <th><span>Information</span>
      <div class="rightSide">
        <label class = "" for="sort">Sort by Price: </label>
        <select ng-model="selectedSortPrice" ng-options = "sortPrice.name for sortPrice in sortPrices"></select>
      </div>
    </th>
  </thead>
    <!-- <tr ng-model = "tea.teas" ng-repeat = "tea in teas | filter: searchCategory | filter: searchName |orderBy: '-price' "> -->
    <tr ng-model = "tea.teas" ng-repeat = "tea in teas | filter: searchCategory | filter: searchName |orderBy: 'price' : selectedSortPrice.descend">
      <td class = "width-1-3">
        <section>
          <img ng-src="{{tea.imageUrl}}" alt="">
        </section>
      </td>
      <td class = "width-2-3" "teaBodyHead">
        <section>
          <h3>{{tea.name}}</h3>
          <section class = "quantity">
            <label for="quantity">Quantity: </label>
            <select id="quantity" ng-model="tea.quantity" ng-init="quantity=tea.quantity" ng-options="n for n in [] | Range:0:20"></select>
            <button class="addToCart" ng-click="addToCart(tea)">Add to Bag</button>
          </section>
          <h5>Price:  {{tea.price | CurrencyCoin | currency}}</h5>
          <h5>Caffeine Scale:  {{tea.caffeineScale}}</h5>
          <h5>Ingredients:  <span ng-repeat = "ingredient in tea.ingredients">{{ingredient}}</span></h5>
          <h5>Rating:  {{tea.rating}}</h5>
          <h5>In Stock: {{tea.inStock | YesNo }} </h5>
          <h5>Categories:
            <li ng-repeat = "category in tea.categories">{{category}}</li>
          </h5>

        </section>
      </td>
    </tr>
</table>
