<!-- <label for="sort"> Sort by  </label>
  <select ng-model="selected" ng-options="selection.field for selection in selections">
  </select> -->
<h4>{{test}}</h4>
<label for="category">Search by category: </label>
<select ng-model="selected-category" ng-options="category.name for category in categories"></select>
<label for="search">Search by name: </label>
<input type="text" ng-model="search">
<a href="/checkout">
  <button class="quantity">Checkout | Bag: </button>
</a>
<table>
  <thead>
    <th>Tea</th>
    <th>Information</th>
    <th>
      <label for="sort">Sort by {{sortChoice}}:</label>
      <select name="" id="" ng-model="sortChoice" ng-options="sortChoice in sortChoices"></select>
    </th>
  </thead>
    <tr ng-repeat = "tea in teas">
      <td>
        <section>
          <!-- <img src="{{tea.imageUrl}}" alt=""> -->
        </section>
      </td>
      <td>
        <section>
        </section>
      </td>
    </tr>
</table>
